<div class="header">
 <div class="header-left">
    <span class="header-logo">
        <img src="/assets/Frame.svg" alt="логотип сайта">
    </span>
    <nav class="header-nav">
        <span class="header-nav-item">Главная</span>
        <span class="header-nav-item">О компании</span>
        <span class="header-nav-item">Каталог</span>
    </nav>
 </div>
 
 <div class="header-right">
        <img src="/assets/Phone.svg" alt="логотип трубки телефона">
        <p class="header-tel">+7 (965) 084-29-29</p>
        <img class="header-heart" src="/assets/heart.svg" alt="логотип сердечко">
     <button class="header-basket"><img src="/assets/basket.svg" alt="логотип корзины">
        <span class="basket">Пусто</span>
     </button>   
 </div>
</div>

<div class="header-1">
 <div class="header-1-catalog">          
    <img style="margin-right: 10px;" src="/assets/light.svg" alt="логотип каталога">
    <span style="font-size: 14px; font-weight: bold;">Каталог</span>
    <span class="header-1-catalog-item"><b>Стройматериалы</b></span>
    <span class="header-1-catalog-item">Инструменты</span>
    <span class="header-1-catalog-item">Электрика</span>
    <span class="header-1-catalog-item">Интерьер и одежда</span>
 </div>
 
 <div style="display: flex;">
   <div class=form-action>
    <input class="input-1" type="text" placeholder="Поиск, например Круг зачистной">
    <button class="logo-search"><img src="/assets/logo-search.svg" alt="логотип поиска"></button>
   </div>
    <button class="map-icon"><img src="/assets/map-pin.svg" alt="логотип точка местоположения">
        <span style="margin-left: 6px;">Москва</span>
    </button>
 </div>
</div>

<div>
   <img src="/assets/banner.png" alt="Баннер" style="width: 100%;">
</div>

<div class="frame-information">
   <div class="frame-information__block">
      <img src="/assets/icon-1.svg" alt="иконка кирпичи">
      <span class="padding-frame-information__block"><b>Большой ассортимент</b><br> строительных материалов всегда в наличии</span>
   </div>
   <div class="frame-information__block">
      <img src="/assets/icon-2.svg" alt="иконка доставка">
      <span class="padding-frame-information__block"><b>Доставка стройматериалов</b><br> в течении четырех часов или в<br> любое удобное время</span>
   </div>
   <div class="frame-information__block">
      <img src="/assets/icon-3.svg" alt="иконка знак качества">
      <span class="padding-frame-information__block">Многоуровневая <b>система<br> управления качеством </b> по стандарту<br> ISO 9001</span>
   </div>
</div>

<div class="content-container">
   <div class="item-cards">
      <div class="item-cards__pagination">
         <button class="item-cards__pagination-button active-button">1</button>
         <button class="item-cards__pagination-button">2</button>
         <button class="item-cards__pagination-button">3</button>
         <button class="item-cards__pagination-button">4</button>
         <button class="item-cards__pagination-button">5</button>
      </div>
         <div class="item-cards__grid">
            <div class="item-cards__grid-left">
               <span class="item-cards__grid-left-text">Строительный отделочный инструмент</span>
               <div class="item-cards__grid-left-action">
                  <span style="margin-right: 16px;">Перейти в каталог</span>
                  <a><img src="/assets/Arrow.svg" alt="стрелка"></a>
               </div>
            </div>
            
            <div class="item-cards__grid-right">
                  <div class="item-cards__grid-right-block-1">
                     <span class="item-cards__grid-right-block-text-1">Эмали</span>
                  </div>
                  <div class="item-cards__grid-right-block-2">
                     <p class="item-cards__grid-right-block-text-2-3-4">Лакокрасочные <br> материалы</p>
                  </div>
                  <div class="item-cards__grid-right-block-3">
                     <p class="item-cards__grid-right-block-text-2-3-4">Пены, клеи и<br>герметики</p>
                  </div>
                  <div class="item-cards__grid-right-block-4">
                     <p class="item-cards__grid-right-block-text-2-3-4">Розетки и выключатели</p>
                  </div>
            </div>
         </div> 
   </div> 
</div>      